body{
    font-family: arial,sans-serif;
    color: #202124;
   
}
.imgbox{
   
    text-align: center;
    justify-content:center;
    width: 300px;
    height: 25%;
    text-align: center;
    margin:0px;
    margin-top: 18%;
}

.imgbox img{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 272px;
   
}

#imgnormal{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 272px;
}

#googlesrch{
    text-align: center;
    float:center;
    margin-top: 2%;
    border-radius: 4px;
    border: none;
    background: #f8f9fa;
    color: #3c4043;
    height: 36px; line-height: 27px;
    font-size: 14px;
    font-family: arial,sans-serif;
    min-width: 100px;
    padding: 0 16px;
}

#googlesrch input[type=submit]:hover{
    border: 1px solid #f8f9fa;
}

#q {
    outline: none;
    border: none;
    font-size: medium;
    margin: auto;
    min-width: 85%;
    width: 85%;
    height:40px;
    padding:5;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    

    

}


.search{
    height:200px;
    margin: auto;
    margin-top: 25%;
    padding:5px;
    width: 560px;
    min-width: 303px;
    text-align: center;
    align-items: center;
   
}

#q{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.se



.advinput{
    margin-top:20px;
    height: 25px;
    width: 40%;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: 400;
}

.advsearch{
    text-align: left;
    width: 75%
}

#as_q{
    margin-left: 100px;
    
}

#as_epq{
    margin-left: 28.5px;
}

#as_oq{
    margin-left: 73px;
}

#as_eq{
    margin-left: 63px;
}

#advsrchbtn{
    background-color: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border-radius: 2px;
    -webkit-user-select:none;
    user-select:none;
    line-height:100%;
    height:30px;
    min-width:120px;
}

#back{
    
    text-decoration: none;
}

#back div{
    padding:5px;
    background-color: #3079ed;
    width: 100%;
    height: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#fff;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    margin:10px
}


#advimg{
    width:200px
}

.topbar{
    display: flex;
    justify-content: right;
    align-items: right;
    height: 50px;
    width:400px;
    float: right
}